<div class="reset-password-container">
  <div class="reset-password-title">
    <p>
      Chess.app
      <mat-icon inline svgIcon="pawn"></mat-icon>
    </p>
  </div>
  <p class="reset-password-subtitle">
    Type in your username and email to change your password
  </p>
  <div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill" [style.width.px]="250">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input
            matInput
            placeholder="Enter your username..."
            formControlName="username"
            autocomplete="off"
          />
          <mat-error
            *ngIf="username?.invalid && (username?.errors?.['required'] || username?.errors?.['maxlength'])"
            >Invalid username</mat-error
          >
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" [style.width.px]="250">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>mail</mat-icon>
          <input
            matInput
            placeholder="Enter your email..."
            formControlName="email"
            autocomplete="off"
          />
          <mat-error
            *ngIf="email?.invalid && (email?.errors?.['required'] || email?.errors?.['email'])"
            >Invalid email address</mat-error
          >
        </mat-form-field>
      </p>

      <p>
        <button mat-raised-button color="primary" [style.width.px]="250">
          Change my password
        </button>
      </p>
    </form>
  </div>
</div>
