.reset-password-container {
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reset-password-title {
  width: 40%;
  margin-left: 12px;
}

.reset-password-subtitle {
  width: 40%;
  text-align: center;
  font-size: large;
}

.reset-password-title > p > mat-icon {
  width: 32px !important;
  height: 32px !important;
}

.reset-password-title > p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: xx-large;
  font-weight: 500;
  margin-bottom: 16px;
  color: #7b1fa2;
  text-align: center;
}
