<h3 mat-dialog-title>{{ message }}</h3>

<div *ngIf="isPassword" mat-dialog-content>
  <form
    [formGroup]="changePassword"
    (ngSubmit)="onSubmitPasswordChange()"
    class="confirm-password-dialog-content"
  >
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input
        matInput
        formControlName="newPassword"
        autocomplete="off"
        [type]="isHiddenNewPass ? 'password' : 'text'"
      />
      <mat-hint align="start"> Make a strong password! </mat-hint>
      <mat-error *ngIf="changePassword?.invalid"> Wrong inputs </mat-error>
      <button
        mat-icon-button
        color="primary"
        matSuffix
        (click)="isHiddenNewPass = !isHiddenNewPass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isHiddenNewPass"
        type="button"
      >
        <mat-icon>{{
          isHiddenNewPass ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat new password</mat-label>
      <input
        matInput
        formControlName="newPasswordRepeat"
        autocomplete="off"
        [type]="isHiddenNewPassRepeat ? 'password' : 'text'"
      />
      <mat-hint align="start"> Repeat your new password </mat-hint>
      <mat-error *ngIf="changePassword?.invalid"> Wrong inputs </mat-error>
      <button
        mat-icon-button
        color="primary"
        matSuffix
        (click)="isHiddenNewPassRepeat = !isHiddenNewPassRepeat"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isHiddenNewPassRepeat"
        type="button"
      >
        <mat-icon>{{
          isHiddenNewPassRepeat ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Old password</mat-label>
      <input
        matInput
        formControlName="oldPassword"
        autocomplete="off"
        [type]="isHiddenOldPass ? 'password' : 'text'"
      />
      <mat-error *ngIf="changePassword?.invalid"> Wrong inputs </mat-error>
      <button
        mat-icon-button
        color="primary"
        matSuffix
        (click)="isHiddenOldPass = !isHiddenOldPass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isHiddenOldPass"
        type="button"
      >
        <mat-icon>{{
          isHiddenOldPass ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!(newPassword?.value === newPasswordRepeat?.value)"
    >
      Submit
    </button>
  </form>
</div>

<div *ngIf="isEmail || isUsername" mat-dialog-content>
  <form
    [formGroup]="confirmPassword"
    (ngSubmit)="onPasswordConfirmation()"
    class="confirm-password-dialog-content"
  >
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        autocomplete="off"
        [type]="isHiddenConfirmPass ? 'password' : 'text'"
      />
      <mat-error *ngIf="changePassword?.invalid"> Wrong inputs </mat-error>
      <button
        mat-icon-button
        color="primary"
        matSuffix
        (click)="isHiddenConfirmPass = !isHiddenConfirmPass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isHiddenConfirmPass"
        type="button"
      >
        <mat-icon>{{
          isHiddenConfirmPass ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>

<mat-dialog-content *ngIf="isLoading" style="height: calc(100% - 96px);" class="confirm-spinner-content">
  <mat-spinner diameter="300" strokeWidth="12" color="primary" class="spinner"></mat-spinner>
</mat-dialog-content>
