.confirm-password-dialog-content {
  display: flex;
  flex-direction: column;
}

.confirm-spinner-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.spinner {
  margin: 0 auto;
  padding: 10px;
}
